body{
    font-family: Arial;
    background-color: rgb(19, 19, 19);
}
button{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
}
button:active{
    filter: blur(2px);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 600px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

.input-table{
    display: grid;
    grid-template-columns: 200px 150px 100px 100px;
    gap: 10px;
}

.css-input,
.css-date-input{
    padding: 5px;
    padding-left: 10px;
}

.css-add,
.css-delete,
.css-delete-all{
    background-color: #ffbf00;
    border: none;
    border-radius: 3px;
}

.css-delete-all{
    background-color: #ff0000;
    color: white;
}

.css-delete{
    padding: 7px;
    color: white;
    background-color: #9000ff;
    width: 210px;
}
.elements{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.title{
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: bold;
    
}
.title2{
    font-size: 22px;
    margin-bottom: 30px;
}

@media (max-width: 768px)
{
    .container{
        width: 400px;
        padding-left: 30px;
    }
    .input-table{
        grid-template-columns: 250px 130px;
    }
    .css-add,
    .css-delete,
    .css-delete-all{
        padding: 8px;
    }
    .elements{
        grid-template-columns: 200px 90px 1fr ;
    }
    .css-delete{
        padding: 7px;
        width: 80px;
    }
}